<?xml version="1.0" encoding="UTF-8" ?> 
<plugin xmlns="http://www.storehippo.com/ns/plugins/1.0" 
    id="cordova-plugin-emarsys" 
    version="1.0.0">
  <name>EmarsysPlugin</name>
  <description>Cordova plugin that wraps Emarsys SDK</description>
  <author>StoreHippo</author>
  <keywords>Emarsys</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <!-- <asset src="www/Emarsys.js" target="js/Emarsys.js"/> -->


  <js-module src="www/emarsys.js" name="Emarsys">
    <clobbers target="window.Emarsys" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="EmarsysPlugin">
        <param name="android-package" value="com.emarsys.cordova.Main" />
      </feature>
    </config-file>
    <framework src="com.emarsys:emarsys-sdk:3.5.0" />
    <source-file src="src/android/Main.java" target-dir="src/com/emarsys/cordova/"/>

  </platform>
    <!-- iOS -->
  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="Checkout">
              <param name="ios-package" value="Main" />
          </feature>
          <preference name="deployment-target" value="11.0" />
      </config-file>
      <dependency id="cordova-plugin-cocoapod-support"/>
      <pods-config ios-min-version="11.0" use-frameworks="true"/>
      <header-file src="src/ios/Main.h"/>
      <source-file src="src/ios/Main.m"/>
      <pod name="EmarsysSDK" spec="~>3.3.0"/>
      <framework src="CoreTelephony.framework" />
      <framework src="SystemConfiguration.framework" />
  </platform>
</plugin>
